body {
  font-family: "Urbanist", sans-serif;
  color: #fff;
  background-color: #141414;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 auto;
}

button {
  color: currentColor;
  font-family: inherit;
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 390px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.header-container {
  padding: 20px 0;
  border-bottom: 1px solid var(--Dark-Blue-15, #211e2f);
  background-color: var(--Grey-10, #1a1a1a);
}

.header-container .container {
  display: flex;
  justify-content: flex-start;
}

.header-container-logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  font-weight: 600;
}

.header-logo {
  width: 28px;
  height: 28px;
}

.navigation {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-link {
  padding: 12px 20px;
  background-color: #1a1a1a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  border-radius: 8px;
  background-color: #141414;
}

.nav-item .nav-home {
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-08, #141414);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item .nav-home:hover,
.nav-item .nav-home:focus {
  transform: scale(1.1);
}

.header-contact-us {
  padding: 14px 20px;
  border-radius: 8px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-08, #141414);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
}

.header-contact-us:hover,
.header-contact-us:focus {
  transform: scale(1.1);
}

.header-burger {
  border: none;
  background-color: var(--Grey-10, #1a1a1a);
}

.header-icon-burger {
  fill: #fff;
}

@media (max-width: 1279px) {
  .header-container .container {
    justify-content: space-between;
  }

  .navigation,
  .header-contact-us {
    display: none;
  }
}

@media (min-width: 1280px) {
  .header-burger {
    display: none;
  }

  .header-container-logo {
    margin-right: 366px;
  }
}

.hero {
  padding: 40px 0;
}

.hero-container-image {
  width: 100%;
  height: 302px;
  background-image: url(../img/Image-hero-mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-bottom: 56px;
}

@media (min-resolution: 192dpi) {
  .hero-container-image {
    background-image: url(../img/Image-hero-mob2x.png);
  }
}

.hero-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero-text {
  color: var(--Grey-60, #999);
  margin-bottom: 40px;
}

.hero-first-button {
  width: 100%;
  padding: 14px 20px;
  background-color: #141414;
  border-radius: 8px;
  border: 1px solid var(--Grey-15, #262626);
  margin-bottom: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-first-button:hover,
.hero-first-button:focus {
  background-color: #1a1a1a;
}

.hero-second-button {
  width: 100%;
  padding: 14px 20px;
  border-radius: 8px;
  background-color: var(--Purple-60, #703bf7);
  margin-bottom: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-second-button:hover,
.hero-second-button:focus {
  background-color: #371b7d;
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
}

.hero-item {
  display: flex;
  width: calc((100% - 12px) / 2);
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  border-radius: 8px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-10, #1a1a1a);
}

.item-max-width {
  width: 100%;
}

.item-text-number {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.hero-item-text {
  color: var(--Grey-60, #999);
  text-align: center;
}

.down-list {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-08, #141414);
  box-shadow: 0px 0px 0px 4px #191919;
}

.down-item {
  width: calc((100% - 10px) / 2);
  display: flex;
  padding: 20px 14px;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1a1a1a);
  position: relative;
}

.hero-item-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  stroke: #4d4d4d;
  width: 26px;
  height: 26px;
}

.container-logo {
  display: flex;
  padding: 8px;
  align-items: center;
  border: 1px solid #a685fa;
  border-radius: 100%;
}

.hero-icon {
  fill: #a685fa;
  width: 20px;
  height: 20px;
}

.down-item-text {
  max-width: 136px;
  text-align: center;
  font-weight: 600;
}

@media (min-width: 1280px) {
  .hero {
    padding: 0;
  }

  .up-part {
    display: flex;
    flex-direction: row-reverse;
  }

  .hero-container-image {
    height: 622px;
    width: calc((100% - 60px) / 2);
    background-position: center;
  }

  .left-part {
    width: calc((100% - 60px) / 2);
    padding-top: 80px;
  }

  .hero-title {
    font-size: 46px;
    margin-bottom: 20px;
  }

  .hero-text {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .hero-container-button {
    display: flex;
    gap: 16px;
    margin-bottom: 50px;
  }

  .hero-first-button {
    width: 112px;
    margin-bottom: 0;
  }

  .hero-second-button {
    width: 152px;
    margin-bottom: 0;
  }

  .hero-item {
    width: calc((100% - 32px) / 3);
    align-items: start;
    padding: 14px 18px;
    border-radius: 10px;
  }

  .item-text-number {
    text-align: start;
    font-size: 30px;
  }

  .hero-item-text {
    text-align: start;
    font-size: 16px;
  }

  .down-list {
    box-shadow: 0px 0px 0px 6px #191919;
  }

  .down-item {
    width: calc((100% - 30px) / 4);
    gap: 16px;
    padding: 30px 16px;
  }

  .container-logo {
    padding: 18px;
  }

  .hero-icon {
    width: 24px;
    height: 24px;
  }
}

/* Featured Properties */

.properties {
  padding: 80px 0;
}

.properties .container {
  position: relative;
}

.container-frame {
  display: flex;
  gap: 4px;
  position: absolute;
  top: -8px;
  left: 8px;
}

.container-frame-item {
  position: relative;
}

.first {
  fill: #666666;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.second {
  fill: #333333;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.third {
  fill: #333333;
  width: 5.6px;
  height: 5.6px;
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.properties-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 6px;
}

.properties-text {
  color: var(--Grey-60, #999);
  margin-bottom: 40px;
  max-width: 378px;
}

.properties-item {
  display: flex;
  padding: 24px;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
}

.properties-img {
  border-radius: 10px;
  margin-bottom: 16px;
}

.item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}

.properties-item-text {
  color: var(--Grey-60, #999);
  margin-bottom: 20px;
}

.properties-text-span {
  color: var(--Absolute-White, #fff);
}

.properties-sub-list {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.properties-sub-item {
  display: inline-flex;
  padding: 6px 14px;
  align-items: center;
  gap: 4px;
  border-radius: 28px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1a1a1a);
}

.properties-icon {
  fill: #fff;
}

.properties-container-button {
  display: flex;
  gap: 30px;
}

.price-title {
  color: var(--Grey-60, #999);
}

.price {
  font-size: 18px;
  font-weight: 600;
}

.properties-button {
  width: 100%;
  padding: 14px 20px;
  border-radius: 8px;
  background-color: var(--Purple-60, #703bf7);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.properties-button:hover,
.properties-button:focus {
  background-color: var(--Purple-60, #371b7d);
}

.properties-container-buttons {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
  border-top: 1px solid var(--Grey-15, #262626);
  margin-top: 30px;
}

.properties-button-view {
  padding: 14px 20px;
  border-radius: 8px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-10, #1a1a1a);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.properties-button-view:hover,
.properties-button-view:focus {
  background-color: #262626;
}

.properties-container-slide {
  display: flex;
  gap: 10px;
  align-items: center;
}

.properties-button-arrow {
  display: flex;
  padding: 10px;
  border-radius: 69px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-10, #1a1a1a);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.properties-button-arrow:hover,
.properties-button-arrow:focus {
  background-color: #262626;
}

.properties-button-icon {
  fill: #808080;
}

.properties-button-icon-right {
  fill: #fff;
}

.properties-slide-span {
  color: var(--Grey-60, #999);
}

@media (max-width: 1279px) {
  .properties-title-span,
  .properties-title-button,
  .metropolitan,
  .seaside {
    display: none;
  }
}

@media (min-width: 1280px) {
  .properties {
    padding: 120px 0;
  }

  .first {
    width: 24px;
    height: 24px;
  }

  .second {
    width: 14.4px;
    height: 14.4px;
    left: 24px;
  }

  .third {
    width: 6.7px;
    height: 6.7px;
    left: 40px;
  }

  .properties-title {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .properties-text {
    font-size: 16px;
    margin-bottom: 60px;
    max-width: 975px;
  }

  .properties-title-button {
    padding: 14px 20px;
    border-radius: 8px;
    border: 1px solid var(--Grey-15, #262626);
    background-color: var(--Grey-10, #1a1a1a);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .properties-title-button:hover,
  .properties-title-button:focus {
    background-color: #262626;
  }

  .properties-text-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .properties-list {
    display: flex;
    gap: 20px;
  }

  .properties-item {
    width: calc((100% - 40px) / 3);
    padding: 30px;
  }

  .properties-img {
    margin-bottom: 20px;
  }

  .item-title {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .properties-item-text {
    margin-bottom: 24px;
  }

  .properties-sub-list {
    flex-wrap: nowrap;
    margin-bottom: 24px;
  }

  .properties-sub-item {
    padding: 6px 13px;
  }

  .properties-container-button {
    gap: 40px;
  }

  .price {
    font-size: 20px;
  }

  .properties-container-buttons {
    margin-top: 40px;
  }

  .properties-button-view {
    display: none;
  }

  .properties-container-buttons {
    position: relative;
  }

  .properties-container-slide {
    margin-left: auto;
  }

  .properties-slide-text {
    position: absolute;
    left: 0;
  }
}

/* What Our Clients Say */

.our-clients {
  padding-bottom: 80px;
}

.our-clients .container {
  position: relative;
}

.our-clients-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 6px;
}

.our-clients-text {
  color: var(--Grey-60, #999);
  margin-bottom: 40px;
}

.our-clients-item {
  display: flex;
  padding: 30px;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-08, #141414);
}

.our-clients-sub-list {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.our-clients-sub-item {
  display: flex;
  padding: 6px;
  border-radius: 100px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1a1a1a);
}

.our-clients-icon {
  fill: #ffe500;
  width: 18px;
  height: 18px;
}

.our-clients-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.our-clients-sub-text {
  margin-bottom: 24px;
}

.our-clients-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.our-clients-container-firsttext {
  font-size: 16px;
}

.our-clients-container-secondtext {
  color: var(--Grey-60, #999);
}

@media (max-width: 1279px) {
  .emelie,
  .john {
    display: none;
  }
}

@media (min-width: 1280px) {
  .our-clients {
    padding-bottom: 120px;
  }

  .our-clients-title {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .our-clients-text {
    font-size: 16px;
    margin-bottom: 60px;
  }

  .our-clients-list {
    display: flex;
    gap: 20px;
  }

  .our-clients-item {
    width: calc((100% - 40px) / 3);
  }

  .our-clients-sub-list {
    margin-bottom: 30px;
  }

  .our-clients-sub-item {
    padding: 8px;
  }

  .our-clients-icon {
    width: 20px;
    height: 20px;
  }

  .our-clients-item-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .our-clients-sub-text {
    margin-bottom: 30px;
  }

  .our-clients-container-firsttext {
    font-size: 18px;
  }

  .our-clients-container-secondtext {
    font-size: 16px;
  }
}

/* Frequently Asked Questions */

.questions {
  padding-bottom: 80px;
}

.questions .container {
  position: relative;
}

.questions-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 6px;
}

.questions-text {
  color: var(--Grey-60, #999);
  margin-bottom: 40px;
}

.questions-item {
  display: flex;
  padding: 30px;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-08, #141414);
}

.questions-item-title {
  font-size: 18px;
  font-weight: 600;
}

.questions-item-text {
  color: var(--Grey-60, #999);
}

.questions-item-button {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-10, #1a1a1a);
  margin-top: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.questions-item-button:hover,
.questions-item-button:focus {
  background-color: #262626;
}

@media (max-width: 1279px) {
  .questions-laptop {
    display: none;
  }
}

@media (min-width: 1280px) {
  .questions {
    padding-bottom: 72px;
  }

  .questions-title {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .questions-text {
    margin-bottom: 60px;
  }

  .questions-list {
    display: flex;
    gap: 20px;
  }

  .questions-item {
    width: calc((100% - 40px) / 3);
    padding: 40px;
    gap: 24px;
  }

  .questions-item-title {
    font-size: 20px;
  }

  .questions-item-text {
    font-size: 16px;
  }
}

/* Start Your Real Estate Journey Today */

.journey {
  padding: 50px 0;
  position: relative;
}

.journey-icon {
  position: absolute;
  bottom: 288px;
  left: -40px;
  width: 412px;
  height: 284px;
  fill: #1a1a1a;
  z-index: -1;
}

.journey-icon-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 398px;
  height: 217px;
  fill: #1a1a1a;
  z-index: -1;
}

.journey-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 6px;
}

.journey-text {
  color: var(--Grey-60, #999);
  margin-bottom: 30px;
}

.journey-button {
  width: 100%;
  padding: 14px 20px;
  border-radius: 8px;
  background-color: var(--Purple-60, #703bf7);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.journey-button:hover,
.journey-button:focus {
  background-color: var(--Purple-60, #371b7d);
}

@media (min-width: 1280px) {
  .journey {
    padding: 60px 0;
  }

  .journey-icon {
    bottom: -12px;
    left: 0;
    width: 475px;
  }

  .journey-icon-right {
    position: absolute;
    bottom: 0;
    width: 569px;
  }

  .journey-title {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .journey-text {
    font-size: 16px;
    margin-bottom: 0;
    width: 980px;
  }

  .journey .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .journey-button {
    width: 152px;
  }
}

/* Footer */

.footer {
  border-top: 1px solid #262626;
}

.footer-first-container {
  padding: 50px 0 90px;
}

.footer-container-logo {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-logo {
  width: 34px;
  height: 34px;
}

.footer-input-container {
  position: relative;
  padding: 14px 50px 14px 46px;
  border-radius: 8px;
  background-color: var(--Grey-08, #141414);
  border: 1px solid var(--Grey-15, #262626);
  margin-bottom: 50px;
}

.footer-input-email {
  fill: #999999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.footer-input-send {
  fill: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.footer-input {
  width: 100%;
  color: #fff;
  outline: transparent;
  background-color: var(--Grey-08, #141414);
  border: none;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  position: relative;
}

.footer-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 40px) / 2);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--Grey-15, #262626);
}

.home {
  position: relative;
}

.home::after {
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  width: 1px;
  height: 100%;
  background-color: #262626;
}

.properties-footer-item {
  height: 116px;
  position: relative;
}

.properties-footer-item::after {
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  width: 1px;
  height: 100%;
  background-color: #262626;
}

.contact-us {
  position: absolute;
  bottom: -40px;
  left: 0;
  padding-top: 20px;
}

.contact-us::after {
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  width: 1px;
  height: 100%;
  background-color: #262626;
}

.footer-item-title {
  color: var(--Grey-60, #999);
  font-size: 16px;
  letter-spacing: -0.006em;
  margin-bottom: 16px;
}

.footer-item-link {
  line-height: 1.7;
  letter-spacing: -0.006em;
  transition: background-color250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-link:hover,
.footer-item-link:focus {
  background-color: #1a1a1a;
  border-radius: 4px;
  transform: scale(1.1);
}

.footer-item-link:not(:last-child) {
  margin-bottom: 8px;
}

.footer-container-social .container {
  padding: 20px 0;
}

.footer-social-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  border-radius: 58px;
  background-color: var(--Grey-08, #141414);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-button:hover,
.footer-social-button:focus {
  background-color: #1a1a1a;
  border-radius: 50px;
  transform: scale(1.1);
}

.footer-social {
  fill: #fff;
}

.footer-container-links {
  text-align: center;
}

.footer-first-link {
  padding: 4px;
  line-height: 1.7;
  letter-spacing: -0.006em;
  margin-bottom: 10px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-second-link {
  padding: 4px;
  line-height: 1.7;
  letter-spacing: -0.006em;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-first-link:hover,
.footer-first-link:focus,
.footer-second-link:hover,
.footer-second-link:focus {
  background-color: #1a1a1a;
  border-radius: 4px;
}

@media (min-width: 1280px) {
  .footer-first-container {
    padding: 80px 0;
    display: flex;
  }

  .footer-list {
    gap: 62px;
  }

  .home::after,
  .properties-footer-item::after,
  .contact-us::after {
    display: none;
  }

  .footer-item {
    width: auto;
    padding-bottom: 20px;
    border-bottom: none;
  }

  .contact-us {
    position: relative;
    bottom: 0;
    left: 0;
    padding-top: 0;
  }

  .footer-input-container {
    margin-right: 80px;
  }

  .footer-input {
    width: 305px;
  }

  .footer-item-title {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .footer-item-link {
    font-size: 16px;
    line-height: 1.5;
  }

  .footer-item-link:not(:last-child) {
    margin-bottom: 16px;
  }

  .footer-container-social .container {
    position: relative;
    padding: 12px 0;
  }

  .footer-social-list {
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .footer-container-links {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    display: flex;
    gap: 20px;
  }
}
